# Sample_submission.csv

>NOTE: Esto es el ejemplo de como tenemos que mandar nuestra solución

---

Nuestras carpetas están organizadas en un principio en "../data/raw/" y tenemos las carpetas:

 `test_images`, `train_images`,
 
 y los archivos:
 
  `sample_submission.csv`, `test_series_descriptions.csv`, `train_label_coordinates.csv`, `train_series_descriptions.csv` y `train.csv`.

---

### Step 1: Problem statement and data collection

**Analysis Objective**

**Context os the analysis**

In [1]:
# Import the dataset to start working with it

import pandas as pd 

df_sample = pd.read_csv("../data/raw/sample_submission.csv")
df_sample.head(3)

,row_id,normal_mild,moderate,severe
0,44036939_left_neural_foraminal_narrowing_l1_l2,0.333333,0.333333,0.333333
1,44036939_left_neural_foraminal_narrowing_l2_l3,0.333333,0.333333,0.333333
2,44036939_left_neural_foraminal_narrowing_l3_l4,0.333333,0.333333,0.333333

#### **Files**

**sample_submission.csv**

- `row_id` --> A slug of the study ID, condition, and level

- `normal_mid` --> Prediction column

- `moderate` --> Prediction column

- `severe` --> Prediction column

---

### Step 2: Exploration and data cleaning

- #### 2.1 Summarize DF

In [2]:
# Obtain dimensions

rows, columns = df_sample.shape

print(f"The dimensions of this dataset are: {rows} Rows and {columns} Columns")

The dimensions of this dataset are: 25 Rows and 4 Columns

In [3]:
# Obtain information about data types and non-null values

df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       25 non-null     object
 1   normal_mild  25 non-null     float64
 2   moderate     25 non-null     float64
 3   severe       25 non-null     float64
dtypes: float64(3), object(1)
memory usage: 932.0+ bytes

In [4]:
# Check null values

null_var = df_sample.isnull().sum().loc[lambda x: x > 0]

num_of_null_var = len(null_var)

print(f"{null_var}\n\nThe number of null variables are {num_of_null_var}")

Series([], dtype: int64)

The number of null variables are 0

---------**Conclusiones**---------

- There are a total of 25 rows y 4 columns (Severity Scores). AQUÍ PONER EL TARGET QUE BUSCAMOS

- No hay ninguna variable con valores nulos.

- The data has 1 categorical characteristics (A slug of the study ID, condition, and level) and 3 numerical.

---

- #### 2.2 Eliminate duplicates

In [5]:
# Obtain the number of duplicate values in our dataset

print(f"The number of duplicate values in the dataset is {df_sample.duplicated().sum()}")

The number of duplicate values in the dataset is 0